
<% if user_signed_in? && current_user.first_name %>
    <h4>Welcome <%= current_user.first_name %>!</h4>
  <% elsif user_signed_in? && !current_user.first_name %>
    <h4>Welcome <%= current_user.email %></h4>
  <% else %>
    <h4>Welcome, please SignIn or SignUp</h4>
<% end %>

<%= render partial: 'rvs/index', locals: {rvs: all_rvs} %>